{% load static %}
<html>
	<head>
        <title id="t1"></title>
        <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,700">
		<link rel="stylesheet" type="text/css" href="{% static 'css/header_style.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'css/index_style.css' %}" />

	</head>
	<body>
        <header>
			<a href="./">
				<div id="cd-logo">
					<img src="{% static 'Images/logo.png' %}" width="150px" height="auto" alt="Logo" />
					<p></p>
				</div>
			</a>
		</header>
		<div id="allTheThings">
			<div id="member">
				<a href="/studentform" value="member">
					<img src="{% static 'Images/studlogo.png' %}" width="250px" height="auto"/><br />
					<font color="black"><h1>Student</h1></font> 
				</a>
			</div>
			<div id="verticalLine">
				<div id="librarian">
					<a id="librarian-link" href="/adminlogin" value="library" >
                        <img src="{% static 'Images/adminlogo.png' %}" width="250px" height="auto" /><br />
                        <font color="black"><h1>Admin</h1></font> 
						
					</a>
				</div>
			</div>
		</div>
	</body>
</html>